[run]
omit =
    */tests/*
    */test_*.py
    */test.py
    */__pycache__/*
    */conftest.py

[report]
omit =
    */tests/*
    */test_*.py
    */test.py
    */__pycache__/*
    */conftest.py

[html]
directory = C:\diplom_projects\kogn\8\test_analysis_report\coverage_html
